<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="MetaPad - Metaverse ecosystem for growing new projects">
    <meta name="description" content="MetaPad, Launchpad, NFT, Metaverse, decentralized platfrom, binance, bsc, bsc launchpad, ido, ico, smart contract, dapp">
    <link rel="stylesheet" href="../public/css/style.css" />

    <link rel="icon" href="https://metaversepad.app/public/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <meta name="author" content="metaversepad.app" />
    <meta property="og:title" content="MetaPad - Metaverse ecosystem for growing new projects" />
    <meta property="og:image" content="https://metaversepad.app/public/app_metaicon.jpg" />
    <meta property="og:locale" content="en_EN" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metaversepad.app" />
    <meta property="og:site_name" content="metaversepad.app" />
    <meta property="og:description" content="The MetaPad is a decentralized platform for fundraising and
launch game projects on metaverse ecosystem. Launchpad, NFT Marketplace, Smart Contract Audit. " />

    <title>MetaPad - Metaverse ecosystem</title>
</head>
<body>

    <div class="bg">
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <div class="logotype"><a href="https://metaversepad.app/"><img src="../public/img/logo.png" class="img-fluid" /></a></div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <div class="toplinks">
                                <a href="https://metaversepad.app/ido"><img src="../public/img/menu_icon1.png" /> Launchpad</a>
                                <a href="#pools"><img src="../public/img/menu_icon2.png" /> View Pools</a>
                                <a href="/projects"><img src="../public/img/menu_icon3.png" /> Projects</a>
                            </div>
                        </ul>
                        <span class="navbar-text">
                            <button type="button" class="connect_button" id="btn-connect">Wallet Connect</button>
                            <button type="button" class="connect_button" id="btn-disconnect" style="display:none;">Disconnect</button>
                        </span>
                    </div>
                </div>
            </nav>


        </div>


        <div class="container">

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="proj_icon">
                        <div class="row">
                            <div class="col-3">
                                <div class="pr-logo">
                                    <img src="../public/img/logos/mc.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="pname"><h3>MEMEKILLER</h3></div>
                                <a href="https://bscscan.com/token/0x0df7f2f0f2a9b64c67f14ac5f1ffac133f1aff7f" target="_blank"><button type="button" class="check_button">CONTRACT</button></a>
                                <div class="seti">
                                    <img src="../public/img/bsc.png" class="img-fluid" />   <h5>Game</h5>
                                </div>
                            </div>
                        </div>
                        <div class="preline" style="margin-bottom:-50px;"></div>




                    </div>
                </div>

            </div>


        </div>




    <div class="container">

        <div class="about-ido">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="title">
                        <div class="title-line"></div><h3>ABOUT PROJECT</h3>
                    </div>
                    <p>
                        MemeKiller, an NFT game based on the Binance Smart Chain platform, provides users with an immersive
                        role-play gaming experience in battles with shitcoins. Users may upgrade weapons and add items to increase
                        the warrior’s combat strength and help him win. In addition, gamers may collect NFTs, receive incentives, and communicate with one another.
                        <br /><br />
                        MemeKiller is a game where everyone may feel like a warrior, battle with shit coins, make money, and have fun while doing so.
                        <br /><br />
                        <b>NFT Weapons:</b><br /> More than 100 different legendary weapons are accessible in the form of NFT. Users are urged to seek out the top weapons and destroy their enemies.
                        <br /><b>Unique items:</b><br /> Unique amor items are offered as stamina enhancers to increase the strength of your warriors.
                        <br /><b>Mystery Boxes:</b><br /> Mystery boxes such as Chinese Melee or Chinese Ward are also included in the game so you can get unique skins, weapons for your warriors. The mystery boxes ranks include normal, rare, super rare and legendary armour/ weapons.
                    </p>

                </div>
                <div class="col-12 col-sm-6 col-lg-6">
                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/587985130?h=cb3864cc41&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%; border-radius:30px;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                    <script src="https://player.vimeo.com/api/player.js"></script>

                    <div class="title">
                        <div class="title-line"></div><h3>LINKS</h3>
                    </div>
                   
                        <table class="table" style="color:#fff;">

                            <tr>
                                <td>Web</td>
                                <td><a href="https://memekiller.io/" target="_blank">Memekiller.io</a></td>
                            </tr>
                            <tr>
                                <td>Twitter</td>
                                <td><a href="https://twitter.com/Memekillergame" target="_blank"><img src="../public/img/twitterc.png" style="max-width:25px;"/></a></td>
                            </tr>
                            <tr>
                                <td>Telegram group</td>
                                <td><a href="https://t.me/memekillergroup" target="_blank"><img src="../public/img/telegramc.png" style="max-width:25px;"/></a></td>
                            </tr>
                            <tr>
                                <td>Telegram Channel</td>
                                <td><a href="https://t.me/memekillerannouncements" target="_blank"><img src="../public/img/telegramc.png" style="max-width:25px;"/></a></td>
                            </tr>
                            <tr>
                                <td>Medium</td>
                                <td><a href="https://medium.com/@memekiller.nft" target="_blank"><img src="../public/img/medium.png" style="max-width:25px;"/></a></td>
                            </tr>


                        </table>
                        

                    </div>

                </div>
        </div>
    </div>
    </div>


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="git">
                        <a href="https://docs.metaversepad.app/" target="_blank"><img src="../public/img/git_img.png" class="img-fluid" /></a>
                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="social">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-5"><h3>FIND US ON SOCIAL</h3></div>
                            <div class="col-12 col-sm-12 col-lg-7">
                                <div class="social-img">
                                    <a href="https://t.me/MetaPad_announcement" target="_blank"><img src="../public/img/telegram.png" /></a>
                                    <a href="https://twitter.com/meta_ecosystem" target="_blank"><img src="../public/img/twitter.png" /></a>
                                    <a href="https://medium.com/@metaverse.ecosystem" target="_blank"><img src="../public/img/medium.png" /></a>
                                    <a href="mailto:metaverse.ecosystem@gmail.com"><img src="../public/img/message.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="copy">© 2021 MetaPad. All rights reserved.</div>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="contractt"><a href="https://bscscan.com/token/0xD88C6Ec2D3fBD90892c6749CF83De6ad10c30B4b" target="_blank"><button type="button" class="contract_button">MPD Contract</button></a></div>
                    <div class="mail"><a href="mailto:metaverse.ecosystem@gmail.com">metaverse.ecosystem@gmail.com</a></div>


                </div>
            </div>


        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script>AOS.init();</script>
    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
    <script type="text/javascript" src="/public/js/main.js?v=1.0.1"></script>
</body>
    </html>
